/* header { */
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  /* color: #333; */
  /* background: #ccc; */
/* } */

/* body { */
    /* background: gray; */
    /* border-style:solid; */
    /* border-color:#dddddd; */
/* } */

body{
    background:lightblue;
}

#my-picture {
    width: 200px;
    height: 200px;
    margin:25px;
    
    float:left;
}

#container {
    margin:0 auto;
    width:90%;
    height:1020;
    border-style:solid;
    border-color:rgb(0, 128, 38);
    border-width: thin;
}

#about-me {
    margin:0 auto;
    width:90%;
    background:#ffffff;
    border-style:solid;
    border-color:#dddddd;
    border-width: thin;
    float:center;
    margin-top:20px;
    height:98%;
    ima
    /* margin-right:100px; */
    /* margin-left:100px; */
}

#about-me-header {
    margin-right:20px;
    margin-left: 20px;
    color:#4aaaa5;
      
}

#main {
    margin:0 auto;
    /* background:rgba(255, 255, 255, 0.603); */
    /* border-style:solid; */
    /* border-color:#dddddd; */
    width:90%;
    height:960px;
}

#nav-bar {
    /* display:inline-block; */
    margin: 0 auto;
    /* margin-left:20px; */
    background: #91aac7;
    /* width: 90%; */
    height:60px;
}

#name-box {
    display:inline-block;
    margin-left:100px;
    background:#4aaaa5;
    width:100px;
    height:60px;
}

/* #name { */
    /* text-align:center; */
    /* padding-top:20%; */
/* } */

#nav-box {
    display:inline-block;
    float:right;
    background:gray;
    width:100px;
    height:60px;
}

#footer {
/* display:inline-block; */
margin: 0 auto;
/* margin-left:20px; */
background: #91aac7;
/* width: 90%; */
height:60px;    
}

/* #nav-buttons { */
    /* text-align:center; */
    /* padding-top:20%; */
/* } */

/* .clearfix::after { */
    /* content: ""; */
    /* display: block; */
    /* clear: both; */
  /* } */